

@import"import/reset_css";
@import"import/base";



.center_container{




    .form_head{
        padding: 2rem;
        text-align: center;
    }




    .form_group{
        padding: 1em 3rem;
        border-top: solid 1px #eee;


        .item_image{
            width: 100px;
            height: 100px;
            margin-bottom: .5rem;
            border-radius: 10px;
            border: solid 1px #bbb;
            display: block;
        }

    }



    .submit_group{
        margin-bottom: 1em;
        text-align: center;
    }

}
