body{
    background: #eee;

    header{
        padding: .5em 2rem;
        background: #fff;
        border-bottom: solid 1px #ddd;

    }








    main{
        display: flex;
        justify-content: center;

        width: 1200px;
        min-height: 100vh;
        margin: 0 auto;
        padding: 2em 0;
        box-sizing: border-box;




        .center_container{
            width: 800px;
            box-sizing: border-box;
            border: solid 1px #ddd;
            border-radius: .5rem;
            background: #fff;

            margin-right: 1rem;
        }



        .side_container{
            width: 400px;
            height: 100px;
            border: solid 1px #ddd;
            border-radius: .5rem;
            background: #fff;
        }
    }








    footer{
        height: 2em;
        line-height: 2em;
        text-align: center;
        background: #fff;
        border-top: solid 1px #ddd;
    }








    button{
        margin: .2em;
        padding: .5em 1em;
        border: solid 1px #ddd;
        border-radius: .3em;
        background: #fff;
        font-size: 1em;
    }
    button:hover{
        background: darken(#fff,5%)
    }

}
